@import "common";

html {
	position: relative;
	min-width: 320px;
}

body {
	position: relative;
	padding-top: 90px;
	min-width: 320px;
	@include noto();
	font-size: 12px;
	color: #333;
}

a {
	color: #333;
	&:hover, &:focus {
		color: #333;
		text-decoration: none;
	}
}

#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 90px;
	background-color: #fff;
	.util {
		position: relative;
		height: 50px;
		border-bottom: 1px solid #2b2b2b;
		.logo {
			position: absolute;
			top: 7px;
			left: 10px;
			width: 88px;
			height: 38px;
			a {
				display: block;
				width: 100%;
				height: 100%;
				img {
					display: block;
					width: 100%;
					height: 100%;
				}
			}
		}
		ul {
			float: right;
			li {
				float: left;
				width: 50px;
				height: 49px;
				border-left: 1px solid #dfdfdf;
				a {
					display: block;
					width: 100%;
					height: 100%;
					background-repeat: no-repeat;
					background-position: 50% 50%;
					&.cart {
						background-image: url(/design/playtex/mobile/assets/images/ico_bag.png);
						background-size: auto 23px;
					}
					&.search {
						background-image: url(/design/playtex/mobile/assets/images/ico_magnifier.png);
						background-size: auto 20.33333333px;
					}
					&.menu {
						padding-top: 17px;
						padding-left: 13px;
						background-color: #2b2b2b;
						.bar {
							display: block;
							width: 23px;
							height: 2px;
							background-color: #fff;
							&.short {
								width: 16px;
							}
							& + .bar {
								margin-top: 5px;
							}
						}
					}
				}
				&:last-child {
					border-left: 0;
				}
			}
		}
	}
	.category {
		height: 40px;
		border-bottom: 1px solid #dfdfdf;
		ul {
			li {
				float: left;
				width: 25%;
				height: 39px;
				a {
					display: block;
					width: 100%;
					height: 100%;
					line-height: 39px;
					text-align: center;
					font-size: 14px;
					text-decoration: none;
				}
			}
		}
	}
}

#customer-care {
	padding: 40px 10px;
	background-color: #f1f1f1;
	h5 {
		margin-left: 10px;
		margin-bottom: 20px;
		@include maven();
		font-size: 15px;
		font-weight: bold;
		letter-spacing: 1px;
	}
	ul {
		overflow: hidden;
		li {
			float: left;
			padding-left: 10px;
			padding-right: 10px;
			width: 50%;
			a {
				display: block;
				width: 100%;
				height: 35px;
				border: 1px solid #ccc;
				line-height: 33px;
				font-size: 12px;
				text-align: center;
			}
			&:nth-of-type(2) ~ li {
				margin-top: 10px;
			}
		}
	}
}

#footer {
	padding: 45px 10px;
	background-color: #2b2b2b;
	.company {
		color: #999;
		a {
			color: #999;
		}
		dl {
			text-align: center;
			dt, dd {
				display: inline;
				line-height: 18px;
			}
			dt {
				font-weight: normal;
				&:after {
					content: ":";
				}
				~ dt {
					&:before {
						margin-left: 2px;
						margin-right: 5px;
						vertical-align: 1px;
						content: "|";
						font-size: .9em;
					}
				}
			}
			dd {
				address {
					display: inline;
				}
			}
		}
	}
	.contact {
		margin-top: 20px;
		p {
			color: #fff;
			font-size: 40px;
			text-align: center;
		}
	}
	.copyright {
		margin-top: 15px;
		p {
			color: #666;
			font-family: "Myriad Pro", sans-serif;
			text-align: center;
			line-height: 16px;
			font-size: 11px;
		}
	}
	.policy {
		margin-top: 30px;
		text-align: center;
		ul {
			display: inline-block;
			li {
				display: inline;
				a {
					float: left;
					color: #666;
					font-size: 11px;
				}
				& + li {
					&:before {
						float: left;
						margin-left: 5px;
						margin-right: 5px;
						content: "·";
						color: #666;
					}
				}
			}
		}
	}
}


/////////////////////////// Sub 공통 Style ///////////////////////////
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');

@mixin playfd() {
	font-family: 'Playfair Display', serif;
}
.form-group {
    margin: 0;
}
label {
    font-weight: 400;
    margin: 0;
}
.form-control {
    width: 100%;
    height: 45px;
    font-size: 13px;
    font-weight: 300;
    color: #ccc;
    border-radius: 0;
    border: 1px solid #ddd;
    box-shadow: none;
    &:hover, &:focus {
        box-shadow: none;
    }
}

.btn {
    padding: 0;
    border-radius: 0;
    text-align: center;
}

.page-header {
    text-align: center;
    padding: 0;
    margin: 40px 0 45px;
    border-bottom: 0;
    .title {
        font-size: 26px;
        color: #333;
        font-style: italic;
        @include playfd();
    }
}


// Member 
.member {
    
}

// Login
.login {
    article {
        .article-header {
            .nav {
                li {
                    width: 50%;
                    a {
                        font-size: 14px;
                        color: #888;
                        font-weight: 300;
                        text-align: center;
                        line-height: 45px;
                        padding: 0;
                        margin: 0;
                        border-radius: 0;
                        border-color: #ebebeb;
                        border-bottom: 1px solid #333;
                        background: none;
                    }
                    &.active {
                        a {
                            font-weight: 500;
                            color: #333;
                            border-color: #333;
                            border-bottom: 1px solid #fff;
                        }
                    }
                    &:nth-of-type(1) {
                        a {
                            border-right: 0;
                        }
                        &.active {
                            border-right: 1px solid #333;
                        }
                    }
                    &:nth-of-type(2) {
                        a {
                            border-left: 0;
                        }
                        &.active {
                            border-left: 1px solid #333;
                        }
                    }
                }
            }
        }
        .article-content {
            padding-top: 30px;
            padding-bottom: 75px;
            .tab-content {
                .tab-pane {
                    .summary {
                        font-size: 14px;
                        color: #2b2b2b;
                        text-align: center;
                        font-weight: 300;
                        line-height: 24px;
                        margin-bottom: 40px;
                    }
                    .login-form {
                        .form-group {
                            .form-control {
                                margin-bottom: 10px;
                            }
                        }
                        .btn-area {
                            text-align: center;
                            margin-bottom: 15px;
                            p {
                                .btn-default {
                                    display: inline-block;
                                    width: 100%;
                                    height: 45px;
                                    font-size: 14px;
                                    line-height: 45px;
                                    color: #fff;
                                    border: 0;
                                    background-color: #333;
                                }
                            }
                        }
                        .check-box {
                            text-align: right;
                            label {
                                font-size: 14px;
                                color: #666;
                                font-weight: 300;
                                input {
                                    position: relative;
                                    top: 1px;
                                    margin-right: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}



















































