@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900");
body {
  position: relative;
  min-width: 1200px;
  max-width: 100%;
  font-size: 13px;
  color: #666;
  font-weight: 300;
  font-family: 'Noto Sans KR', sans-serif;
  padding-top: 100px; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

.container {
  min-width: 1200px !important; }

.container-fluid {
  min-width: 1200px;
  max-width: 1890px; }

/*******************************  공통 Style  *******************************/
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  overflow: hidden;
  background-color: #fff;
  z-index: 9999; }
  #header .logo {
    position: absolute;
    top: 50%;
    left: 30px;
    margin-top: -34px; }
  #header #gnb {
    float: left; }
    #header #gnb ul {
      font-size: 0; }
      #header #gnb ul li {
        display: inline-block;
        margin-right: 60px; }
        #header #gnb ul li a {
          font-size: 20px;
          color: #2b2b2b;
          font-weight: 400;
          line-height: 100px;
          text-decoration: none; }
        #header #gnb ul li:last-child {
          margin-right: 0; }
  #header #quick-nav {
    position: absolute;
    top: 0;
    right: 0;
    height: 100px;
    overflow: hidden; }
    #header #quick-nav ul {
      float: left;
      font-size: 0; }
      #header #quick-nav ul li {
        display: inline-block;
        margin: 0 10px; }
        #header #quick-nav ul li a {
          font-size: 22px;
          color: #2b2b2b;
          line-height: 100px; }

#opening {
  width: 100%;
  height: 60px;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf; }
  #opening .call-number {
    display: inline-block;
    line-height: 60px; }
    #opening .call-number img {
      display: inline-block; }
  #opening .opening-hours {
    display: inline-block;
    font-size: 12px;
    color: #666;
    vertical-align: top;
    line-height: 18px;
    padding: 12px 0;
    margin-left: 30px; }
  #opening .notice {
    position: relative; }
    #opening .notice dl {
      font-size: 0; }
      #opening .notice dl dt {
        display: inline-block;
        width: 70px;
        font-size: 13px;
        color: #999;
        line-height: 60px;
        vertical-align: top;
        font-weight: 400; }
      #opening .notice dl dd {
        display: inline-block;
        line-height: 60px;
        font-size: 13px;
        width: 370px; }
        #opening .notice dl dd a {
          display: block;
          font-size: 13px;
          color: #333;
          font-weight: 400;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap; }
    #opening .notice .btn-more {
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -10px; }
      #opening .notice .btn-more .btn {
        display: block;
        width: 19px;
        height: 19px;
        font-size: 13px;
        color: #999;
        padding: 0; }

#footer {
  padding: 50px 0;
  background-color: #2b2b2b; }
  #footer .company-info {
    overflow: hidden; }
    #footer .company-info li {
      float: left;
      font-size: 13px;
      color: #999;
      font-weight: 300;
      line-height: 25px; }
      #footer .company-info li a {
        color: #999; }
      #footer .company-info li address {
        display: inline-block; }
      #footer .company-info li:nth-of-type(3):after {
        content: "";
        padding: 0; }
      #footer .company-info li:nth-of-type(4) {
        clear: both; }
      #footer .company-info li:nth-of-type(5):after {
        content: "";
        padding: 0; }
      #footer .company-info li:nth-of-type(6) {
        clear: both; }
      #footer .company-info li:last-child:after {
        content: "";
        padding: 0; }
      #footer .company-info li:after {
        position: relative;
        top: -2px;
        display: inline-block;
        content: "|";
        font-size: 10px;
        color: #999;
        padding: 0 10px; }
  #footer .policy {
    font-size: 0;
    margin: 35px 0 10px; }
    #footer .policy li {
      display: inline-block;
      font-size: 13px; }
      #footer .policy li a {
        color: #666; }
      #footer .policy li:after {
        position: relative;
        top: -2px;
        content: "\E807";
        font-family: "fontello";
        font-size: 10px;
        color: #666;
        padding: 0 15px; }
      #footer .policy li:last-child:after {
        content: "";
        padding: 0; }
  #footer .join-confirm {
    font-size: 13px;
    color: #666; }
    #footer .join-confirm a {
      display: inline-block;
      margin-left: 10px;
      color: #666; }
  #footer .logo {
    text-align: right; }
  #footer .copyright {
    font-size: 12px;
    color: #666;
    line-height: 18px;
    font-family: 'Maven Pro', sans-serif;
    text-align: right;
    margin-top: 50px; }
    #footer .copyright a {
      color: #666;
      text-decoration: none; }

#content .jumbotron {
  padding: 0;
  margin: 0; }
  #content .jumbotron .bx-wrapper {
    position: relative; }
    #content .jumbotron .bx-wrapper .bx-viewport ul li .img-responsive {
      margin: 0 auto; }
    #content .jumbotron .bx-wrapper .bx-controls {
      position: absolute;
      bottom: 20px;
      width: 100%;
      text-align: center; }
      #content .jumbotron .bx-wrapper .bx-controls .bx-pager {
        display: inline-block; }
        #content .jumbotron .bx-wrapper .bx-controls .bx-pager .bx-pager-item {
          display: inline-block;
          margin: 0 6px; }
          #content .jumbotron .bx-wrapper .bx-controls .bx-pager .bx-pager-item a {
            text-indent: -99999px;
            display: block;
            width: 18px;
            height: 18px;
            border: 1px solid #fff;
            border-radius: 50%; }
            #content .jumbotron .bx-wrapper .bx-controls .bx-pager .bx-pager-item a.active {
              background-color: #fff; }
#content #best-seller {
  max-width: 1860px;
  margin: 100px auto;
  background-image: url(/assets/images/main/best_seller_bg.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: auto; }
  @media (min-width: 1800px) {
    #content #best-seller .container-fluid {
      padding-right: 145px; } }
  #content #best-seller .best-list {
    float: right; }
    #content #best-seller .best-list .section-title {
      font-size: 0;
      margin-top: 40px;
      margin-bottom: 50px;
      padding-right: 190px; }
      #content #best-seller .best-list .section-title hr {
        display: inline-block;
        width: 60%;
        margin: 27px 0;
        border-top: 1px solid #333; }
      #content #best-seller .best-list .section-title h3 {
        display: inline-block;
        width: 40%;
        vertical-align: top;
        text-align: right; }
        #content #best-seller .best-list .section-title h3 img {
          display: inline-block; }
    #content #best-seller .best-list .bx-wrapper {
      position: relative; }
      #content #best-seller .best-list .bx-wrapper .bx-viewport ul li a {
        text-decoration: none; }
        #content #best-seller .best-list .bx-wrapper .bx-viewport ul li a figure .img-responsive {
          width: 100% !important;
          margin: 0 auto; }
        #content #best-seller .best-list .bx-wrapper .bx-viewport ul li a figure figcaption {
          width: 100%;
          margin-top: 30px;
          text-align: center; }
          #content #best-seller .best-list .bx-wrapper .bx-viewport ul li a figure figcaption p {
            font-size: 15px;
            color: #333;
            line-height: 22px;
            margin-bottom: 20px; }
          #content #best-seller .best-list .bx-wrapper .bx-viewport ul li a figure figcaption strong {
            font-size: 18px;
            color: #333;
            font-family: 'Maven Pro', sans-serif; }
      #content #best-seller .best-list .bx-wrapper .bx-controls {
        position: absolute;
        top: -103px;
        right: 0; }
        #content #best-seller .best-list .bx-wrapper .bx-controls .bx-controls-direction {
          font-size: 0; }
          #content #best-seller .best-list .bx-wrapper .bx-controls .bx-controls-direction a {
            position: relative;
            display: inline-block;
            width: 52px;
            height: 52px;
            border: 1px solid #bcbcbc;
            text-decoration: none; }
            #content #best-seller .best-list .bx-wrapper .bx-controls .bx-controls-direction a:before {
              display: inline-block;
              text-align: center;
              width: 52px;
              font-size: 23px;
              color: #696969;
              line-height: 52px;
              font-family: "fontello"; }
            #content #best-seller .best-list .bx-wrapper .bx-controls .bx-controls-direction a.bx-prev {
              border-right: 0; }
              #content #best-seller .best-list .bx-wrapper .bx-controls .bx-controls-direction a.bx-prev:before {
                content: "\E806"; }
            #content #best-seller .best-list .bx-wrapper .bx-controls .bx-controls-direction a.bx-next:before {
              content: "\E805"; }
#content #playtex-line {
  max-width: 1860px;
  margin: 90px auto; }
  #content #playtex-line .article-header {
    text-align: center;
    margin-bottom: 50px; }
    #content #playtex-line .article-header h3 {
      display: block;
      font-size: 25px;
      color: #2b2b2b;
      font-weight: bold;
      font-family: 'Maven Pro', sans-serif;
      letter-spacing: 3px;
      margin-bottom: 26px; }
    #content #playtex-line .article-header hr {
      display: block;
      width: 70px;
      margin: 0 auto;
      border-top: 1px solid #181818; }
  #content #playtex-line .article-content ul {
    font-size: 0; }
    #content #playtex-line .article-content ul li {
      display: inline-block;
      height: 315px;
      width: 16.6666%;
      min-width: 200px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%; }
      #content #playtex-line .article-content ul li a {
        text-align: center;
        width: 100%;
        height: 315px;
        display: table;
        text-decoration: none;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
        #content #playtex-line .article-content ul li a strong {
          display: table-cell;
          opacity: 1;
          font-size: 20px;
          color: #fff;
          font-weight: bold;
          vertical-align: middle;
          text-align: center;
          font-family: 'Maven Pro', sans-serif;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
        #content #playtex-line .article-content ul li a .details {
          display: none;
          opacity: 0;
          font-size: 20px;
          color: red;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
        #content #playtex-line .article-content ul li a:hover, #content #playtex-line .article-content ul li a:focus {
          background-color: #fcf4b6; }
          #content #playtex-line .article-content ul li a:hover strong, #content #playtex-line .article-content ul li a:focus strong {
            display: none;
            opacity: 0; }
          #content #playtex-line .article-content ul li a:hover .details, #content #playtex-line .article-content ul li a:focus .details {
            width: 100%;
            height: 100%;
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            opacity: 1; }
            #content #playtex-line .article-content ul li a:hover .details figure, #content #playtex-line .article-content ul li a:focus .details figure {
              text-align: center; }
              #content #playtex-line .article-content ul li a:hover .details figure .img-responsive, #content #playtex-line .article-content ul li a:focus .details figure .img-responsive {
                margin: 0 auto; }
              #content #playtex-line .article-content ul li a:hover .details figure figcaption, #content #playtex-line .article-content ul li a:focus .details figure figcaption {
                margin-top: 22px; }
                #content #playtex-line .article-content ul li a:hover .details figure figcaption b, #content #playtex-line .article-content ul li a:focus .details figure figcaption b {
                  display: inline;
                  font-size: 20px;
                  color: #2b2b2b;
                  border-bottom: 1px solid #2b2b2b; }
                #content #playtex-line .article-content ul li a:hover .details figure figcaption p, #content #playtex-line .article-content ul li a:focus .details figure figcaption p {
                  display: block;
                  font-size: 13px;
                  color: #333;
                  line-height: 20px;
                  margin-top: 15px; }
      #content #playtex-line .article-content ul li:nth-of-type(1) {
        background-image: url(/assets/images/main/line_bg01.jpg); }
      #content #playtex-line .article-content ul li:nth-of-type(2) {
        background-image: url(/assets/images/main/line_bg04.jpg); }
      #content #playtex-line .article-content ul li:nth-of-type(3) {
        background-image: url(/assets/images/main/line_bg03.jpg); }
      #content #playtex-line .article-content ul li:nth-of-type(4) {
        background-image: url(/assets/images/main/line_bg04.jpg); }
      #content #playtex-line .article-content ul li:nth-of-type(5) {
        background-image: url(/assets/images/main/line_bg05.jpg); }
      #content #playtex-line .article-content ul li:nth-of-type(6) {
        background-image: url(/assets/images/main/line_bg06.jpg); }
#content #item-characteristic {
  max-width: 1860px;
  margin: 0 auto; }
  #content #item-characteristic .img-responsive {
    margin: 0 auto; }
#content #new-arrivals {
  max-width: 1860px;
  margin: 100px auto;
  background-image: url(/assets/images/main/new_arrivals_bg.jpg);
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: auto; }
  @media (min-width: 1800px) {
    #content #new-arrivals .container-fluid {
      padding-left: 145px; } }
  #content #new-arrivals .arrivals-list {
    float: left; }
    #content #new-arrivals .arrivals-list .section-title {
      font-size: 0;
      margin-top: 40px;
      margin-bottom: 50px;
      padding-left: 160px; }
      #content #new-arrivals .arrivals-list .section-title h3 {
        display: inline-block;
        width: 50%;
        vertical-align: top;
        text-align: left; }
        #content #new-arrivals .arrivals-list .section-title h3 img {
          display: inline-block; }
      #content #new-arrivals .arrivals-list .section-title hr {
        display: inline-block;
        width: 50%;
        margin: 27px 0;
        border-top: 1px solid #333; }
    #content #new-arrivals .arrivals-list .bx-wrapper {
      position: relative; }
      #content #new-arrivals .arrivals-list .bx-wrapper .bx-viewport ul li a {
        text-decoration: none; }
        #content #new-arrivals .arrivals-list .bx-wrapper .bx-viewport ul li a figure .img-responsive {
          width: 100% !important;
          margin: 0 auto; }
        #content #new-arrivals .arrivals-list .bx-wrapper .bx-viewport ul li a figure figcaption {
          width: 100%;
          margin-top: 30px;
          text-align: center; }
          #content #new-arrivals .arrivals-list .bx-wrapper .bx-viewport ul li a figure figcaption p {
            font-size: 15px;
            color: #333;
            line-height: 22px;
            margin-bottom: 20px; }
          #content #new-arrivals .arrivals-list .bx-wrapper .bx-viewport ul li a figure figcaption strong {
            font-size: 18px;
            color: #333;
            font-family: 'Maven Pro', sans-serif; }
      #content #new-arrivals .arrivals-list .bx-wrapper .bx-controls {
        position: absolute;
        top: -103px;
        left: 0; }
        #content #new-arrivals .arrivals-list .bx-wrapper .bx-controls .bx-controls-direction {
          font-size: 0; }
          #content #new-arrivals .arrivals-list .bx-wrapper .bx-controls .bx-controls-direction a {
            position: relative;
            display: inline-block;
            width: 52px;
            height: 52px;
            border: 1px solid #bcbcbc;
            text-decoration: none; }
            #content #new-arrivals .arrivals-list .bx-wrapper .bx-controls .bx-controls-direction a:before {
              display: inline-block;
              text-align: center;
              width: 52px;
              font-size: 23px;
              color: #696969;
              line-height: 52px;
              font-family: "fontello"; }
            #content #new-arrivals .arrivals-list .bx-wrapper .bx-controls .bx-controls-direction a.bx-prev {
              border-right: 0; }
              #content #new-arrivals .arrivals-list .bx-wrapper .bx-controls .bx-controls-direction a.bx-prev:before {
                content: "\E806"; }
            #content #new-arrivals .arrivals-list .bx-wrapper .bx-controls .bx-controls-direction a.bx-next:before {
              content: "\E805"; }
#content #video-promotion {
  max-width: 1890px;
  margin: 0 auto;
  height: 540px;
  background-image: url(/assets/images/main/promotion_video_bg.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto 540px; }
  #content #video-promotion .video-btn .btn-play {
    display: block;
    width: 100%;
    height: 540px;
    background-image: url(/assets/images/main/btn_play.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    transition-delay: 0s; }
    #content #video-promotion .video-btn .btn-play:hover, #content #video-promotion .video-btn .btn-play:focus {
      opacity: .6; }
#content #editors-pick {
  max-width: 1600px;
  margin: 100px auto 135px; }
  #content #editors-pick .section-header {
    text-align: center;
    margin-bottom: 50px; }
    #content #editors-pick .section-header h3 {
      display: block;
      font-size: 25px;
      color: #2b2b2b;
      font-weight: bold;
      font-family: 'Maven Pro', sans-serif;
      letter-spacing: 3px;
      margin-bottom: 26px; }
    #content #editors-pick .section-header hr {
      display: block;
      width: 70px;
      margin: 0 auto;
      border-top: 1px solid #181818; }
  #content #editors-pick ul li a {
    text-decoration: none; }
    #content #editors-pick ul li a figure {
      margin-top: 70px; }
      #content #editors-pick ul li a figure .img-responsive {
        margin: 0 auto;
        width: 100%; }
      #content #editors-pick ul li a figure figcaption {
        width: 100%;
        margin-top: 30px;
        text-align: center; }
        #content #editors-pick ul li a figure figcaption p {
          font-size: 15px;
          color: #333;
          line-height: 22px;
          margin-bottom: 20px; }
        #content #editors-pick ul li a figure figcaption strong {
          font-size: 18px;
          color: #333;
          font-family: 'Maven Pro', sans-serif; }
  #content #editors-pick ul li:nth-of-type(1) figure {
    margin-top: 0; }
  #content #editors-pick ul li:nth-of-type(2) figure {
    margin-top: 0; }
  #content #editors-pick ul li:nth-of-type(3) figure {
    margin-top: 0; }
  #content #editors-pick ul li:nth-of-type(4) figure {
    margin-top: 0; }
  #content #editors-pick ul li:nth-of-type(4n + 1) {
    clear: both; }

.label-area {
  text-align: center;
  margin-bottom: 10px; }
  .label-area .label {
    display: inline-block;
    width: 32px;
    height: 16px;
    padding: 0;
    line-height: 16px;
    text-align: center;
    font-size: 10px;
    margin-right: 4px;
    font-family: 'Maven Pro', sans-serif; }
    .label-area .label:last-child {
      margin-right: 0; }
    .label-area .label.hot {
      color: #fff;
      background-color: #e61937; }
    .label-area .label.new {
      color: #333;
      background-color: #a0e4e7; }
    .label-area .label.md {
      color: #fff;
      background-color: #f08501; }

#event {
  padding: 50px 0;
  background-color: #f1f1f1; }
  #event .event-list {
    max-width: 1560px;
    margin: 0 auto; }

.page-header {
  padding: 0;
  margin: 0;
  border: 0; }

/*******************************  Pagination  *******************************/
.paging {
  text-align: center; }
  .paging .pagination {
    margin: 0; }
    .paging .pagination li a {
      width: 30px;
      height: 30px;
      font-size: 18px;
      color: #666;
      padding: 0;
      line-height: 30px;
      text-align: center;
      border-radius: 0; }

/*******************************  공통 Style List  *******************************/
.common-list .page-header {
  width: 100%;
  height: 359px;
  text-align: center;
  background-image: url(/assets/images/item/sub_visual_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }
  .common-list .page-header .container {
    padding-left: 0;
    padding-right: 0; }
  .common-list .page-header h2 {
    font-size: 80px;
    color: #fff;
    line-height: 289px;
    font-style: italic;
    font-family: 'Playfair Display', serif; }
  .common-list .page-header .list-lnb {
    height: 70px;
    background-color: #fff; }
    .common-list .page-header .list-lnb ul {
      display: table;
      width: 100%; }
      .common-list .page-header .list-lnb ul li {
        display: table-cell;
        width: 1%;
        text-align: center; }
        .common-list .page-header .list-lnb ul li a {
          position: relative;
          display: inline-block;
          font-size: 15px;
          color: #333;
          line-height: 70px;
          font-weight: bold;
          font-family: 'Maven Pro', sans-serif;
          text-decoration: none; }
          .common-list .page-header .list-lnb ul li a span {
            display: inline-block;
            width: 0;
            height: 1px;
            position: absolute;
            bottom: 20px;
            left: 50%;
            background-color: #8c6239;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0s;
            transition-delay: 0s; }
          .common-list .page-header .list-lnb ul li a:hover, .common-list .page-header .list-lnb ul li a:focus {
            color: #8c6239; }
            .common-list .page-header .list-lnb ul li a:hover span, .common-list .page-header .list-lnb ul li a:focus span {
              width: 100%;
              margin-left: -50%; }
        .common-list .page-header .list-lnb ul li.active a {
          color: #8c6239; }
          .common-list .page-header .list-lnb ul li.active a span {
            width: 100%;
            margin-left: -50%; }
.common-list .item-list {
  width: 100%;
  padding-bottom: 150px;
  background-color: #f7f7f7; }
  .common-list .item-list .best-item {
    position: relative;
    margin-top: 66px;
    padding-bottom: 80px;
    background-color: #fff; }
  .common-list .item-list .page-summary {
    height: 275px; }
    .common-list .item-list .page-summary .item-title {
      font-size: 40px;
      color: #333;
      font-weight: 900;
      font-family: 'Lato', sans-serif;
      margin-bottom: 30px; }
    .common-list .item-list .page-summary p {
      font-size: 17px;
      color: #333;
      line-height: 25px; }
  .common-list .item-list .bx-wrapper {
    position: relative; }
    .common-list .item-list .bx-wrapper .bx-viewport .best-item-list li a {
      position: relative;
      display: block;
      width: 270px;
      height: 270px;
      padding-top: 5px;
      padding-right: 5px;
      text-decoration: none; }
      .common-list .item-list .bx-wrapper .bx-viewport .best-item-list li a .products-rank {
        position: absolute;
        top: 0;
        right: 0px;
        display: block;
        width: 55px;
        padding: 5px 0;
        text-align: center;
        color: #fff;
        font-family: 'Maven Pro', sans-serif;
        background-color: rgba(155, 135, 110, 0.8); }
        .common-list .item-list .bx-wrapper .bx-viewport .best-item-list li a .products-rank small {
          position: absolute;
          top: 0;
          left: 50%;
          margin-left: -12px;
          font-size: 10px;
          display: block;
          font-weight: 300; }
        .common-list .item-list .bx-wrapper .bx-viewport .best-item-list li a .products-rank p {
          position: relative;
          font-size: 25px;
          font-weight: bold;
          padding-top: 10px; }
      .common-list .item-list .bx-wrapper .bx-viewport .best-item-list li a .figure img {
        width: 265px;
        height: 265px; }
    .common-list .item-list .bx-wrapper .bx-controls {
      position: absolute;
      bottom: 0;
      left: -300px; }
      .common-list .item-list .bx-wrapper .bx-controls .bx-controls-direction {
        font-size: 0; }
        .common-list .item-list .bx-wrapper .bx-controls .bx-controls-direction a {
          position: relative;
          display: inline-block;
          width: 52px;
          height: 52px;
          border: 1px solid #bcbcbc;
          text-decoration: none; }
          .common-list .item-list .bx-wrapper .bx-controls .bx-controls-direction a:before {
            display: inline-block;
            text-align: center;
            width: 52px;
            font-size: 23px;
            color: #696969;
            line-height: 52px;
            font-family: "fontello"; }
          .common-list .item-list .bx-wrapper .bx-controls .bx-controls-direction a.bx-prev {
            border-right: 0; }
            .common-list .item-list .bx-wrapper .bx-controls .bx-controls-direction a.bx-prev:before {
              content: "\E806"; }
          .common-list .item-list .bx-wrapper .bx-controls .bx-controls-direction a.bx-next:before {
            content: "\E805"; }
.common-list .product-list {
  padding-top: 60px;
  overflow: hidden; }
  .common-list .product-list .select-box {
    float: right;
    width: 180px;
    margin-bottom: 40px; }
    .common-list .product-list .select-box .btn.dropdown-toggle {
      position: relative;
      width: 180px;
      font-size: 14px;
      color: #666;
      text-align: left;
      padding: 0 15px 10px;
      border-radius: 0;
      border: 1px solid #f7f7f7;
      background-color: #f7f7f7; }
      .common-list .product-list .select-box .btn.dropdown-toggle:after {
        position: absolute;
        top: 1px;
        right: 0;
        content: "\E808";
        font-family: "fontello"; }
      .common-list .product-list .select-box .btn.dropdown-toggle:hover, .common-list .product-list .select-box .btn.dropdown-toggle:focus {
        box-shadow: none; }
    .common-list .product-list .select-box .dropdown-menu {
      width: 180px;
      margin: 0;
      padding: 5px 0;
      border: 0;
      border-radius: 0;
      box-shadow: none;
      border-top: 1px solid #ccc;
      background-color: #f7f7f7;
      opacity: .9; }
      .common-list .product-list .select-box .dropdown-menu li {
        text-align: left; }
        .common-list .product-list .select-box .dropdown-menu li a {
          font-size: 12px;
          color: #666;
          padding: 0 15px;
          line-height: 30px; }
          .common-list .product-list .select-box .dropdown-menu li a:hover, .common-list .product-list .select-box .dropdown-menu li a:focus {
            box-shadow: none;
            background-color: rgba(247, 247, 247, 0.6); }
    .common-list .product-list .select-box.open .btn.dropdown-toggle:after {
      content: "\E809"; }
  .common-list .product-list ul {
    clear: both; }
    .common-list .product-list ul li:nth-of-type(1) a {
      margin-top: 0; }
    .common-list .product-list ul li:nth-of-type(2) a {
      margin-top: 0; }
    .common-list .product-list ul li:nth-of-type(3) a {
      margin-top: 0; }
    .common-list .product-list ul li a {
      display: block;
      margin-top: 100px;
      text-decoration: none; }
      .common-list .product-list ul li a figure .img-responsive {
        width: 100% !important;
        margin: 0 auto; }
      .common-list .product-list ul li a figure figcaption {
        width: 100%;
        margin-top: 30px;
        text-align: center; }
        .common-list .product-list ul li a figure figcaption p {
          font-size: 15px;
          color: #333;
          line-height: 22px;
          margin-bottom: 20px; }
        .common-list .product-list ul li a figure figcaption strong {
          font-size: 18px;
          color: #333;
          font-family: 'Maven Pro', sans-serif; }
.common-list .paging {
  margin-top: 100px; }

/*******************************  공통 Style View  *******************************/
.common-view .page-header {
  width: 100%;
  height: 359px;
  text-align: center;
  background-image: url(/assets/images/item/sub_visual_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }
.common-view .item-view {
  padding-bottom: 160px; }
  .common-view .item-view .view-header {
    margin-top: -155px;
    background-color: orange;
    height: 547px; }

/*# sourceMappingURL=style.css.map */
