@import 'common';

#content {
    // 메인 슬라이드
    .jumbotron {
        padding: 0;
        margin: 0;
        .bx-wrapper {
            position: relative;
            .bx-viewport {
                ul {
                    li {
                        .img-responsive {
                            margin: 0 auto;
                        }
                    }
                }
            }
            .bx-controls {
                position: absolute;
                bottom: 20px;
                width: 100%;
                text-align: center;
                .bx-pager {
                    display: inline-block;
                    .bx-pager-item {
                        display: inline-block;
                        margin: 0 6px;
                        a {
                            text-indent: -99999px;
                            display: block;
                            width: 18px;
                            height: 18px;
                            border: 1px solid #fff;
                            border-radius: 50%;
                            &.active {
                                background-color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
    //베스트 셀러 
    #best-seller {
//        max-width: 1715px;
        max-width: 1860px;
        margin: 100px auto;
        background-image: url(/assets/images/main/best_seller_bg.jpg);
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: auto;
        .container-fluid {
            @media(min-width: 1800px) {
                padding-right: 145px;
            }
        }
        .best-list {
            float: right;
            .section-title {
                font-size: 0;
                margin-top: 40px;
                margin-bottom: 50px;
                padding-right: 190px;
                hr {
                    display: inline-block;
                    width: 60%;
                    margin: 27px 0;
                    border-top: 1px solid #333;
                }
                h3 {
                    display: inline-block;
                    width: 40%;
                    vertical-align: top;
                    text-align: right;
                    img {
                        display: inline-block;
                    }
                }
            }
            .bx-wrapper {
                position: relative;
                .bx-viewport {
                    ul {
                        li {
                            a {
                                text-decoration: none;
                                figure {
                                    .img-responsive {
                                        width: 100% !important;
                                        margin: 0 auto;
                                    }
                                    figcaption {
                                        width: 100%;
                                        margin-top: 30px;
                                        text-align: center;
                                        p {
                                            font-size: 15px;
                                            color: #333;
                                            line-height: 22px;
                                            margin-bottom: 20px;
                                        }
                                        strong {
                                            font-size: 18px;
                                            color: #333;
                                            @include maven();
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .bx-controls {
                    position: absolute;
                    top: -103px;
                    right: 0;
                    .bx-controls-direction {
                        font-size: 0;
                        a {
                            position: relative;
                            display: inline-block;
                            width: 52px;
                            height: 52px;
                            border: 1px solid #bcbcbc;
                            text-decoration: none;
                            &:before {
                                display: inline-block;
                                text-align: center;
                                width: 52px;
                                font-size: 23px;
                                color: #696969;
                                line-height: 52px;
                                font-family: "fontello";
                            }
                            &.bx-prev {
                                border-right: 0;
                                &:before {
                                    content: "\E806";
                                }
                            }
                            &.bx-next {
                                &:before {
                                    content: "\E805";
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    // 플레이텍스 디자인 라인
    #playtex-line {
        max-width: 1860px;
        margin: 90px auto;
        .article-header {
            text-align: center;
            margin-bottom: 50px;
            h3 {
                display: block;
                font-size: 25px;
                color: #2b2b2b;
                font-weight: bold;
                @include maven();
                letter-spacing: 3px;
                margin-bottom: 26px;
            }
            hr {
                display: block;
                width: 70px;
                margin: 0 auto;
                border-top: 1px solid #181818;
            }
        }
        .article-content {
            ul {
                font-size: 0;
                li {
                    display: inline-block;
                    height: 315px;
                    width: 16.6666%;
                    min-width: 200px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: 50% 50%;
                    a {
                        text-align: center;
                        width: 100%;
                        height: 315px;
                        display: table;
                        text-decoration: none;
                        @include trans();
                        strong {
                            display: table-cell;
                            opacity: 1;
                            font-size: 20px;
                            color: #fff;
                            font-weight: bold;
                            vertical-align: middle;
                            text-align: center;
                            @include maven();
                            @include trans();
                        }
                        .details {
                            display: none;
                            opacity: 0;
                            font-size: 20px;
                            color: red;
                            @include trans();
                        }
                        &:hover, &:focus {
                            background-color: #fcf4b6;
                            strong {
                                display: none;
                                opacity: 0;
                            }
                            .details {
                                width: 100%;
                                height: 100%;
                                display: table-cell;
                                text-align: center;
                                vertical-align: middle;
                                opacity: 1;
                                figure {
                                    text-align: center;
                                    .img-responsive {
                                        margin: 0 auto;
                                    }
                                    figcaption {
                                        margin-top: 22px;
                                        b {
                                            display: inline;
                                            font-size: 20px;
                                            color: #2b2b2b;
                                            border-bottom: 1px solid #2b2b2b;
                                        }
                                        p {
                                            display: block;
                                            font-size: 13px;
                                            color: #333;
                                            line-height: 20px;
                                            margin-top: 15px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &:nth-of-type(1) {
                            background-image: url(/assets/images/main/line_bg01.jpg);
                    }
                    &:nth-of-type(2) {
                            background-image: url(/assets/images/main/line_bg04.jpg);
                    }
                    &:nth-of-type(3) {
                            background-image: url(/assets/images/main/line_bg03.jpg);
                    }
                    &:nth-of-type(4) {
                            background-image: url(/assets/images/main/line_bg04.jpg);
                    }
                    &:nth-of-type(5) {
                            background-image: url(/assets/images/main/line_bg05.jpg);
                    }
                    &:nth-of-type(6) {
                            background-image: url(/assets/images/main/line_bg06.jpg);
                    }
                }
            }
        }
    }
    // 아이템 효과
    #item-characteristic {
        max-width: 1860px;
        margin: 0 auto;
        .img-responsive {
            margin: 0 auto;
        }
    }
    // new arrivals
    #new-arrivals {
//        max-width: 1715px;
        max-width: 1860px;
        margin: 100px auto;
        background-image: url(/assets/images/main/new_arrivals_bg.jpg);
        background-repeat: no-repeat;
        background-position: 100% 0;
        background-size: auto;
        .container-fluid {
            @media(min-width: 1800px) {
                padding-left: 145px;
            }
        }
        .arrivals-list {
            float: left;
            .section-title {
                font-size: 0;
                margin-top: 40px;
                margin-bottom: 50px;
                padding-left: 160px;
                h3 {
                    display: inline-block;
                    width: 50%;
                    vertical-align: top;
                    text-align: left;
                    img {
                        display: inline-block;
                    }
                }
                hr {
                    display: inline-block;
                    width: 50%;
                    margin: 27px 0;
                    border-top: 1px solid #333;
                }
            }
            .bx-wrapper {
                position: relative;
                .bx-viewport {
                    ul {
                        li {
                            a {
                                text-decoration: none;
                                figure {
                                    .img-responsive {
                                        width: 100% !important;
                                        margin: 0 auto;
                                    }
                                    figcaption {
                                        width: 100%;
                                        margin-top: 30px;
                                        text-align: center;
                                        p {
                                            font-size: 15px;
                                            color: #333;
                                            line-height: 22px;
                                            margin-bottom: 20px;
                                        }
                                        strong {
                                            font-size: 18px;
                                            color: #333;
                                            @include maven();
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .bx-controls {
                    position: absolute;
                    top: -103px;
                    left: 0;
                    .bx-controls-direction {
                        font-size: 0;
                        a {
                            position: relative;
                            display: inline-block;
                            width: 52px;
                            height: 52px;
                            border: 1px solid #bcbcbc;
                            text-decoration: none;
                            &:before {
                                display: inline-block;
                                text-align: center;
                                width: 52px;
                                font-size: 23px;
                                color: #696969;
                                line-height: 52px;
                                font-family: "fontello";
                            }
                            &.bx-prev {
                                border-right: 0;
                                &:before {
                                    content: "\E806";
                                }
                            }
                            &.bx-next {
                                &:before {
                                    content: "\E805";
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    // 홍보영상 
    #video-promotion {
        max-width: 1890px;
        margin: 0 auto;
        height: 540px;
        background-image: url(/assets/images/main/promotion_video_bg.jpg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: auto 540px;
        .video-btn {
            .btn-play {
                display: block;
                width: 100%;
                height: 540px;
                background-image: url(/assets/images/main/btn_play.png);
                background-repeat: no-repeat;
                background-position: 50% 50%;
                @include trans();
                &:hover, &:focus {
                    opacity: .6;
                }
            }
        }
    }
    
    
    //editors pick
    #editors-pick {
        max-width: 1600px;
        margin: 100px auto 135px;
        .section-header {
            text-align: center;
            margin-bottom: 50px;
            h3 {
                display: block;
                font-size: 25px;
                color: #2b2b2b;
                font-weight: bold;
                @include maven();
                letter-spacing: 3px;
                margin-bottom: 26px;
            }
            hr {
                display: block;
                width: 70px;
                margin: 0 auto;
                border-top: 1px solid #181818;
            }
        }
        ul {
            li {
                a {
                    text-decoration: none;
                    figure {
                        margin-top: 70px;
                        .img-responsive {
                            margin: 0 auto;
                            width: 100%;
                        }
                        figcaption {
                            width: 100%;
                            margin-top: 30px;
                            text-align: center;
                            p {
                                font-size: 15px;
                                color: #333;
                                line-height: 22px;
                                margin-bottom: 20px;
                            }
                            strong {
                                font-size: 18px;
                                color: #333;
                                @include maven();
                            }
                        }
                    }
                }
                &:nth-of-type(1) {
                    figure {
                        margin-top: 0;
                    }
                }
                &:nth-of-type(2) {
                    figure {
                        margin-top: 0;
                    }
                }
                &:nth-of-type(3) {
                    figure {
                        margin-top: 0;
                    }
                }
                &:nth-of-type(4) {
                    figure {
                        margin-top: 0;
                    }
                }
                &:nth-of-type(4n + 1) {
                    clear: both;
                }
            }
        }
    }
}
.label-area {
    text-align: center;
    margin-bottom: 10px;
    .label {
        display: inline-block;
        width: 32px;
        height: 16px;
        padding: 0;
        line-height: 16px;
        text-align: center;
        font-size: 10px;
        margin-right: 4px;
        @include maven();
        &:last-child {
            margin-right: 0;
        }
        &.hot {
            color: #fff;
            background-color: #e61937;
        }
        &.new {
            color: #333;
            background-color: #a0e4e7;
        }
        &.md {
            color: #fff;
            background-color: #f08501;
        }
    }
}

// 이벤트
#event {
    padding: 50px 0;
    background-color: #f1f1f1;
    .event-list {
        max-width: 1560px;
        margin: 0 auto;
    }
}

.page-header {
    padding: 0;
    margin: 0;
    border: 0;
}

/*******************************  공통 Style List  *******************************/
.product-list {
    .page-header {
        width: 100%;
        height: 359px;
        text-align: center;
        background-image: url(/assets/images/item/sub_visual_bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        h2 {
            color: #fff;
            line-height: 289px;
        }
        .list-lnb {
            height: 70px;
            background-color: #fff;
            ul {
                display: table;
                width: 100%;
                li {
                    text-align: center;
                    width: 1%;
                    display: table-cell;
                    a {
                        display: inline-block;
                        line-height: 70px;
                    }
                }
            }
        }
    }
}
.item-list {
    width: 100%;
    height: 350px;
    background-color: orange;
}





/*******************************  공통 Style View  *******************************/




























