@import "common";

#nav {
	z-index: 9000;
	position: fixed;
	top: 0;
	right: -100%;
	padding-top: 86px;
	width: 100%;
	height: 100%;
	background-color: #fff;
	> header {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 86px;
		.logo {
			height: 50px;
			h1 {
				position: absolute;
				top: 8px;
				left: 10px;
				width: 88px;
				height: 38px;
				a {
					display: block;
					width: 100%;
					height: 100%;
					img {
						display: block;
						width: 100%;
						height: 100%;
					}
				}
			}
			#btn-close-nav {
				position: absolute;
				top: 8px;
				right: 12px;
				padding: 10px;
				border: 0;
				img {
					display: block;
					width: 14px;
					height: 14px;
				}
			}
		}
		.util {
			height: 36px;
			ul {
				li {
					float: left;
					width: 25%;
					height: 36px;
					background-color: #2d2d2d;
					a {
						display: block;
						width: 100%;
						height: 100%;
						color: #fff;
						text-align: center;
						line-height: 36px;
						@include maven();
						font-size: 13px;
					}
					& + li {
						border-left: 1px solid rgba(#fff, .2);
					}
				}
			}
		}
	}
	> .menu {
		overflow: auto;
		height: 100%;
		> ul {
			> li {
				> a {
					display: block;
					padding: 10px 40px 10px 20px;
					font-size: 15px;
					@include maven();
					line-height: 30px;
					border-bottom: 1px solid #f2f2f2;
					color: #2b2b2b;
					font-weight: bold;
					&:after {
						position: absolute;
						right: 20px;
						font-family: "fontello";
						content: "\E800";
						font-size: 24px;
					}
				}
				> ul {
					display: none;
					padding-top: 10px;
					padding-bottom: 10px;
					background-color: #d2c7b3;
					> li {
						> a {
							display: block;
							padding: 5px 20px 5px 40px;
							line-height: 30px;
							font-size: 14px;
							@include maven();
							font-weight: bold;
							color: #fff;
						}
						&.active {
							> a {
								position: relative;
								padding-left: 65px;
								span {
									border-bottom: 1px solid #fff;
								}
								&:before {
									position: absolute;
									left: 40px;
									font-family: "fontello";
									content: "\E806";
									font-weight: 100;
								}
							}
						}
					}
				}
				&.active {
					> a {
						border-bottom: 0;
						&:after {
							content: "\E803";
						}
					}
					> ul {
						display: block;
					}
				}
			}
		}
	}
}

body.nav-opened {
	#nav {
		right: 0;
	}
}

#visual {
	.bx-wrapper {
		position: relative;
		.bx-viewport {
			ul {
				li {
					a {
						.img-responsive {
							margin: 0 auto;
						}
					}
				}
			}
		}
		.bx-controls {
			position: absolute;
			bottom: 10px;
			width: 100%;
			text-align: center;
			.bx-pager {
				display: inline-block;
				.bx-pager-item {
					display: inline;
					.bx-pager-link {
						float: left;
						width: 11px;
						height: 11px;
						border: 1px solid #fff;
						border-radius: 50%;
						&.active {
							background-color: #fff;
						}
					}
					& + .bx-pager-item {
						.bx-pager-link {
							margin-left: 7px;
						}
					}
				}
			}
		}
	}
}

.product-content {
	margin-top: 20px;
	margin-bottom: 40px;
	header {
		position: relative;
		padding-left: 10px;
		padding-right: 10px;
		h4 {
			margin-bottom: 15px;
			@include playfd();
			font-size: 30px;
			font-style: italic;
		}
		.sorter {
			position: absolute;
			top: 10px;
			right: 10px;
			li {
				float: left;
				.column {
					&:before {
						font-family: "fontello";
						color: #c6c6c7;
						line-height: 16px;
					}
					&.selected {
						&:before {
							color: #998675;
						}
					}
				}
				.column-1 {
					&:before {
						
						content: "\E812";
						font-size: 18px;
					}
				}
				.column-2 {
					&:before {
						content: "\E80E";
						font-size: 16px;
					}
				}
				.column-3 {
					&:before {
						content: "\E811";
						font-size: 16px;
					}
				}
				& + li {
					margin-left: 7px;
				}
			}
		}
	}
	.product-list {
		margin-bottom: 15px;
		li {
			margin-bottom: 20px;
			.product-item {
				figure {
					.img-responsive {
						margin: 0 auto;
					}
					figcaption {
						margin-top: 15px;
						text-align: center;
						h5 {
							font-size: 12px;
							line-height: 16px;
							font-weight: normal;
							color: #333;
						}
						.price {
							@include maven();
							font-size: 12px;
							font-weight: bold;
							color: #333;
						}
					}
				}
			}
			&.hidden {
				display: none;
			}
		}
		&.product-list-1 {
			padding-left: 10px;
			padding-right: 10px;
		}
		&.product-list-2 {
			overflow: hidden;
			padding-left: 10px;
			padding-right: 10px;
			li {
				float: left;
				padding-left: 5px;
				padding-right: 5px;
				width: 50%;
				&:nth-of-type(2n+1) {
					clear: both;
				}
			}
		}
		&.product-list-3 {
			overflow: hidden;
			padding-left: 10px;
			padding-right: 10px;
			li {
				float: left;
				padding-left: 5px;
				padding-right: 5px;
				width: 33.33%;
				&:nth-of-type(3n+1) {
					clear: both;
				}
			}
		}
	}
	.more {
		display: block;
		margin-right: 10px;
		margin-left: 10px;
		height: 40px;
		border: 1px solid #b6b6b6;
		font-size: 12px;
		line-height: 38px;
		text-align: center;
	}
}

#design-line {
	h4 {
		@include maven();
		font-size: 15px;
		font-weight: 600;
		text-align: center;
		color: #2b2b2b;
		letter-spacing: 1px;
	}
	hr {
		margin: 15px auto 20px;
		width: 40px;
		border-top-color: #2b2b2b;
	}
	ul {
		overflow: hidden;
		li {
			float: left;
			width: 50%;
			height: 80px;
			a {
				display: block;
				width: 100%;
				height: 100%;
				line-height: 80px;
				text-align: center;
				@include maven();
				font-weight: bold;
				color: #fff;
				background-repeat: no-repeat;
				background-position: 50% 50%;
				background-size: 100% auto;
				&.line-up-1 {
					background-image: url(/design/playtex/mobile/images/main/img_lineup_1.jpg);
				}
				&.line-up-2 {
					background-image: url(/design/playtex/mobile/images/main/img_lineup_2.jpg);
				}
				&.line-up-3 {
					background-image: url(/design/playtex/mobile/images/main/img_lineup_3.jpg);
				}
				&.line-up-4 {
					background-image: url(/design/playtex/mobile/images/main/img_lineup_4.jpg);
				}
				&.line-up-5 {
					background-image: url(/design/playtex/mobile/images/main/img_lineup_5.jpg);
				}
				&.line-up-6 {
					background-image: url(/design/playtex/mobile/images/main/img_lineup_6.jpg);
				}
			}
		}
	}
}

#hours {
	margin-top: 20px;
	height: 290px;
	background-color: #f1f1f1;
}

#editors-pick {
	margin-top: 30px;
	header {
		h4 {
			margin-bottom: 10px;
			@include maven();
			font-size: 15px;
			font-style: normal;
			text-align: center;
			font-weight: bold;
			letter-spacing: 1px;
		}
		.sorter {
			overflow: hidden;
			position: relative;
			top: auto;
			right: auto;
			margin-bottom: 15px;
			text-align: center;
			li {
				float: none;
				display: inline-block;
				margin-left: 5px;
			}
		}
	}
}

#event {
	margin-bottom: 60px;
	padding-left: 10px;
	padding-right: 10px;
	.bx-wrapper {
		.bx-viewport {
			ul {
				li {
					a {
						.img-responsive {
							margin: 0 auto;
						}
					}
				}
			}
		}
		.bx-controls {
			margin-top: 10px;
			text-align: center;
			.bx-pager {
				display: inline-block;
				.bx-pager-item {
					display: inline;
					.bx-pager-link {
						float: left;
						width: 11px;
						height: 11px;
						border: 1px solid #7d7d7d;
						border-radius: 50%;
						&.active {
							background-color: #7d7d7d;
						}
					}
					& + .bx-pager-item {
						.bx-pager-link {
							margin-left: 7px;
						}
					}
				}
			}
		}
	}
}